.isotope, .isotope .isotope-item {
  transition-duration: 0.8s;
  transition-timing-function: ease-out;
}

.isotope {
  transition-property: height, width;
}

.isotope .isotope-item {
  transition-property: transform, opacity;
}